body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

/*---SECTION COLOURS---*/
.blueSection {
  background-color: #1f4788;
  color: #fff;
}

/*---LOADER---*/
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader.gif) center center no-repeat;
}

/*---NAVIGATION---*/
#navigation {
  background-color: #1f4788;
  padding: 10px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

/* Underline From Right */
#navigation li a {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
#navigation li a:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#navigation li a:hover:before,
#navigation li a:focus:before,
#navigation li a:active:before {
  right: 0;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url(../icons/menu.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

/*---PHOTO SLIDE SECTION---*/
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

#slides .slides-navigation {
  z-index: 6;
}

#slides .slides-navigation .prev,
#slides .slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

#slides .slides-navigation .prev {
  left: 20px;
  background-image: url(../icons/prev.png);
}

#slides .slides-navigation .next {
  right: 20px;
  background-image: url(../icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 250px;
  top: 50%;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 23px;
}

.section {
  padding: 100px 0;
}

/*---SKILLS SECTION---*/
/* responsiveness for mobile devices */
@media (max-width: 568px) {
  .skillsSection .slick {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.skillsSection .skill {
  text-align: center;
  padding-top: 120px;
}

.skillsSection .skill h4 {
  padding: 20px 0;
}

.skillsSection .chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.skillsSection .chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.skillsSection .chart .percent {
  color: #fff;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.skillsSection .chart .percent:after {
  content: '%';
}

.skillsSection .technologyGroup {
  padding: 20px 0;
}

.skillsSection .technologyGroup p {
  font-size: 24px;
  font-weight: 400;
}

.skillsSection .technologies {
  text-align: center;
}

.skillsSection .technologies .fab {
  padding: 10px;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.skillsSection .technologies .red {
  color: #e74c3c;
}

.skillsSection .technologies .red:hover,
.skillsSection .technologies .red:focus,
.skillsSection .technologies .red:active {
  box-shadow: 0 0 8px #e74c3c;
}

.skillsSection .technologies .green {
  color: #2ecc71;
}

.skillsSection .technologies .green:hover,
.skillsSection .technologies .green:focus,
.skillsSection .technologies .green:active {
  box-shadow: 0 0 8px #2ecc71;
}

.skillsSection .technologies .blue {
  color: #3498db;
}

.skillsSection .technologies .blue:hover,
.skillsSection .technologies .blue:focus,
.skillsSection .technologies .blue:active {
  box-shadow: 0 0 8px #3498d1;
}

.skillsSection .technologies .dark-blue {
  color: #2980b9;
}

.skillsSection .technologies .dark-blue:hover,
.skillsSection .technologies .dark-blue:focus,
.skillsSection .technologies .dark-blue:active {
  box-shadow: 0 0 8px #2980b9;
}

.skillsSection .technologies .yellow {
  color: #f1c40f;
}

.skillsSection .technologies .yellow:hover,
.skillsSection .technologies .yellow:focus,
.skillsSection .technologies .yellow:active {
  box-shadow: 0 0 8px #f1c40f;
}

.skillsSection .technologies .grey {
  color: #bdc3c7;
}

.skillsSection .technologies .grey:hover,
.skillsSection .technologies .grey:focus,
.skillsSection .technologies .grey:active {
  box-shadow: 0 0 8px #bdc3c7;
}
